div#form-container {
	overflow: hidden;
	margin: 0 0 0 0px;
}

/*
div.header h1, div.header img, div#form-container form {
*/
div.header h1, div.header img {
	float: left;
}

.clear {
	clear: both;
}

body {
	padding: 0px 50px 50px 50px;
	font: 14px "Roboto", Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.input label {
	display: block;
}

/*
form button {
  font: inherit;
  margin: 10px 0;
  border-radius: 0;
  border: none;
  box-shadow: 2px 2px 2px #ccc;
  color: white;
  background: #3498db;
  cursor: pointer;
}

form button:hover {
  background: #2980b9;
}
*/
.errors {
	background: #e79892;
	padding: 5px;
	margin-bottom: 10px;
	min-width: 200px;
	display: inline-block;
	border: 1px solid #e74c3c;
}

.errors ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.success {
	background: #80cca0;
	padding: 5px;
}

div.header {
	max-width: 900px; //
	background: #FAFAFA;
	margin: 0 20px;
	padding: 0;
	float: left;
}

div.header h1 {
	font: 36px Arial, Helvetica, sans-serif;
	padding: 5% 25px 0 15px;
}

div.header img {
	
}

.form-style-9 {
	float: left;
	min-height: 220px;
	max-width: 350px;
	background: #FAFAFA;
	margin: 25px 0 0 25px;
	padding: 30px;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}

.form-style-9 ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.form-style-9 ul li {
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}

.errors ul li {
	min-height: 0px;
}

input[type=text], input[type=password] {
	box-sizing: border-box;
}

.form-style-9 ul li  .field-style {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

.form-style-9 ul li  .field-style:focus {
	box-shadow: 0 0 5px #B0CFE0;
	border: 1px solid #B0CFE0;
}

.form-style-9 ul li .field-split {
	width: 49%;
}

.form-style-9 ul li .field-full {
	width: 100%;
}

.form-style-9 ul li input.align-left {
	float: left;
}

.form-style-9 ul li input.align-right {
	float: right;
}

.form-style-9 ul li input[type="button"], .form-style-9 ul li input[type="submit"]
	{
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}

.form-style-9 ul li input[type="button"]:hover, .form-style-9 ul li input[type="submit"]:hover
	{
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

textarea#query {
	width: 335px;
	height: 160px;
}

.select-style {
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
	width: 120px;
	border-radius: 3px;
	overflow: hidden;
	background-color: #fff;
	background: #fff url("/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
	padding: 5px 8px;
	width: 130%;
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.select-style select:focus {
	outline: none;
}
